.heroSection{
    width: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-color: black;
    // border-radius: 30px;


    img{
        max-width: 500px;
    }
}